<div class="row mt-3">
    <div class="col-auto">
        <img src="/media/{{controller.contactObj.photo}}" alt="{{controller.contactObj.photo}}" width="150px" height="150px">
    </div>
    <div class="col">
        <p><span class="font-weight-bold">{{controller.contactObj.name}} {{controller.contactObj.surname}}</span></p>
        <p><span class="font-weight-bold">Mobile:</span> {{controller.contactObj.mobile}}</p>
        <p><span class="font-weight-bold">Home:</span> {{controller.contactObj.home}}</p>
        <p><span class="font-weight-bold">Work:</span> {{controller.contactObj.work}}</p>
        <p><span class="font-weight-bold">E-mail:</span> {{controller.contactObj.emailAddress}}</p>
        <button type="button" class="btn btn-outline-danger" ng-click="controller.delete()">Delete</button>
    </div>
</div>