<form name="form" ng-submit="controller.addContacts()" class="pt-3 pr-3">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" ng-model="controller.contactObj.name" required>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" ng-model="controller.contactObj.surname">
    </div>
    <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" class="form-control" id="mobile" ng-model="controller.contactObj.mobile">
    </div>
    <div class="form-group">
        <label for="home">Home</label>
        <input type="text" class="form-control" id="home" ng-model="controller.contactObj.home">
    </div>
    <div class="form-group">
        <label for="work">Work</label>
        <input type="text" class="form-control" id="work" ng-model="controller.contactObj.work">
    </div>
    <div class="form-group">
        <label for="emailAddress">E-mail</label>
        <input type="email" class="form-control" id="emailAddress" ng-model="controller.contactObj.emailAddress">
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
    <p class="text-success mt-3" ng-if="form.$submitted">Submitted.</p>
</form>