<div class="container p-0 border">
    <div class="row">
        <div class="col-3 pr-0">
            <div class="list-group list-group-flush p-0">
                <a ui-sref="ContactsList.Details({contactId: person.idContacts})" class="list-group-item list-group-item-action pl-3" ng-repeat="person in controller.contactsList">
                    <img src="/media/{{person.photo}}" alt="{{person.photo}}" width="75px" height="75px" class="rounded-circle mr-3">{{person.name}} {{person.surname}}
                </a>
                <a ui-sref="ContactsList.Add" class="list-group-item list-group-item-action">
                    <span class="badge badge-pill badge-success">+</span> Add contact
                </a>
            </div>
        </div>
        <div class="col-9 border-left">
            <ui-view></ui-view>
        </div>
    </div>
</div>